@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}


header {
    width: 100%;
    height: 70vh;
    background-image: url(https://www.lerobert.com/sites/default/files/scald_image/dis-moi-robert-droles-d-expressions-etre-fleur-bleue.jpg);
    background-size: cover;
}

nav{
    position: fixed;
    left: 0;
    right: 0;
    background: rgb(34, 34, 34);
    font-family: montserrat;
}

nav ul{
    padding: 0;
    text-align: end;
    margin: 0;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    color: white;
    font-size: 20px;
}

nav ul li a:hover{
    color: rgb(0, 108, 209);
    font-size: 20px;
}

nav img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.symbole {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

button{
    background-color: #1b819b; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    opacity: 80%;
}
 
button:hover{
    background-color: rgba(0, 136, 169, 0);
}

a, button {
    /* font-family: "Montserrat", sans-serif; */
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#containerproduits{
    border: 5px solid rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
}

.carte{
    border: 5px solid blue;
    margin: 20px;
    background-color: rgb(72, 151, 216);
}

.carteimage{
   
    margin: 20px;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.logo{
    display: flex;
}

.cartetexte{
   text-align: center;
    margin: 20px;
    color: rgb(2, 7, 54);
}

.selection{
    border: 5px solid blue;
    margin: 20px;
    background-color: rgb(72, 151, 216);
    text-align: center;
    width: 100%;
    font-size: xx-large;
}

.selection p{
    font-size: xx-large;
}

.information{
    border: 5px solid blue;
    margin: 20px;
    width: 400px;
    text-align: center;
    background-color: rgb(72, 151, 216);
}

.footer{
    text-align: text;

}

.contenu-footer{
    display: flex;
    justify-content: space-between;

}

.imagefooter ul{
    padding: 0;
    text-align: center;
    margin: 0;
}

.imagefooter ul li{
    display: inline-block;
    padding: 30px;
}

.imagefooter ul li img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.proposfooter {
    text-align: center;
}

hr{
    color: rgb(0, 0, 19);
}

.proposfooter{
    display: flex;
    justify-content: space-between;
}

.proposfooter ul {
    padding: 0;
    text-align: center;
    margin: 0;
}
