@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

button{
    background-color: #1b819b; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
/* nav {
    border-bottom: 3px solid black;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
} */

header {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    background-image: url(https://www.lerobert.com/sites/default/files/scald_image/dis-moi-robert-droles-d-expressions-etre-fleur-bleue.jpg);
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
    margin-left: 500px;
}

.nav__links li a:hover{
    color: cadetblue;
}



body{
    font-weight: bold;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    opacity: 80%;
}


button:hover{
    background-color: rgba(0, 136, 169, 0);
}

/* section{
    background-image: url(https://img-3.journaldesfemmes.fr/ehCs5gI_mbYq1hYSH3M1CWHFMho=/1500x/smart/0583b68e4df94592a39178fc1c412ef5/ccmcms-jdf/19188372.jpg);
} */



.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1000 px;
    padding: 50px 0;
}

header a{
   
    font-size: 25px;
}

section{
    text-align: center;
    background-image: url(https://img-3.journaldesfemmes.fr/ehCs5gI_mbYq1hYSH3M1CWHFMho=/1500x/smart/0583b68e4df94592a39178fc1c412ef5/ccmcms-jdf/19188372.jpg);
    width: 500px;
    height: 500px;
    align-items: center;
    margin-left: 32%;
}

footer{
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    opacity: 100%;
}

div image{
    display: block;
}